.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.selects {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.black-select,
.white-select {
  margin: 5px;
}

#start,
#restart {
  margin: 5px;
}

.white-piece {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: white;
}

.black-piece {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: black;
}

.black-possible-move {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.white-possible-move {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.25);
}

.tile:hover .black-possible-move {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.75);
}

.tile:hover .white-possible-move {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  margin: 1px;
  background-color: tomato;
  border: 1px solid black;
}

.select {
  margin: 10px;
}
